/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'DIN Condensed';
  src: url(../fonts/dincondbold.ttf);
}

/* line 7, ../scss/style.scss */
*:not(input):not(textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 15, ../scss/style.scss */
body {
  background-color: #331f14;
  background-image: url(../img/patterns/white-wood.png);
  color: #331f14;
  font-family: 'Bitter';
  font-size: 93.75%;
  font-weight: 600;
  -webkit-text-size-adjust: none;
}

/* line 25, ../scss/style.scss */
.top {
  background: url(../img/pattern_header.png);
  -webkit-background-size: 30%;
  -moz-background-size: 30%;
  -o-background-size: 30%;
  background-size: 30%;
  height: 70px;
  position: relative;
}
/* line 31, ../scss/style.scss */
.top #logo {
  width: 106px;
  margin: 0 auto;
  display: block;
  position: relative;
}
/* line 38, ../scss/style.scss */
.top #logo div.logo-back {
  position: absolute;
  top: 15px;
  width: 106px;
  height: 99px;
  background: url("../img/logo_back.png") no-repeat 0 0;
  background-size: 100%;
}
/* line 47, ../scss/style.scss */
.top #logo div.logo-front {
  position: absolute;
  top: 15px;
  left: 0;
  width: 106px;
  height: 99px;
  background: url("../img/logo_front.png") no-repeat 0 0;
  background-size: 100%;
}
/* line 57, ../scss/style.scss */
.top #logo .boat {
  position: absolute;
  top: 15px;
  margin-left: -5px;
  margin-top: -18px;
  position: relative;
  background: url("../img/logo_boat.png") no-repeat 0 0;
  background-size: 25%;
  color: #333;
  width: 121px;
  height: 35px;
}
/* line 70, ../scss/style.scss */
.top #logo .boat-container {
  position: absolute;
  top: 43px;
  left: 42px;
  -webkit-animation: logo-animatie 3s infinite ease-in-out;
  width: 20px;
  -webkit-transform-origin: bottom;
}
/* line 81, ../scss/style.scss */
.top .pull {
  width: 33px;
  height: 29px;
  background: url(../img/pull_01.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 100%;
  margin-top: -15px;
}
/* line 90, ../scss/style.scss */
.top .pull a {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 96, ../scss/style.scss */
.top .pull.activef {
  background: url(../img/pull_02.png) no-repeat;
  background-size: 100%;
}
/* line 102, ../scss/style.scss */
.top .switch {
  width: 82px;
  height: 31px;
  display: block;
  background: url(../img/switch_02.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 100%;
  left: 100%;
  margin-left: -85px;
  margin-top: -14px;
}
/* line 113, ../scss/style.scss */
.top .switch a {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 119, ../scss/style.scss */
.top .switch.active {
  background: url(../img/switch_01.png) no-repeat;
  background-size: 100%;
}

/* line 127, ../scss/style.scss */
.zoek {
  width: 85px;
  height: 15px;
  margin: 60px auto 0 auto;
  background: url(../img/anchors.png) no-repeat 0px 3px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
/* line 134, ../scss/style.scss */
.zoek p {
  color: #331f14;
  font-family: 'DIN Condensed';
  text-transform: uppercase;
  text-align: center;
}

/* line 142, ../scss/style.scss */
.container, .list-header {
  margin: 30px auto;
  width: 74%;
}

/* line 147, ../scss/style.scss */
.wide-container, .list-header {
  width: 91%;
}

/* line 151, ../scss/style.scss */
.app {
  background-image: url("../img/patterns/white-wood.png");
  -webkit-background-size: 30%;
  -moz-background-size: 30%;
  -o-background-size: 30%;
  background-size: 30%;
}
/* line 155, ../scss/style.scss */
.red-wood .app {
  background-image: url("../img/patterns/red-wood.png");
}

/* line 160, ../scss/style.scss */
h2 {
  font-family: 'DIN Condensed';
  font-size: .9em;
  margin: 1em 0 .5em;
  text-transform: uppercase;
}

/* line 167, ../scss/style.scss */
p {
  font-size: .85em;
  line-height: 1.4;
  letter-spacing: -0.7px;
}
/* line 172, ../scss/style.scss */
p a {
  color: #e96452;
  text-decoration: none;
}

/* line 178, ../scss/style.scss */
.introduction {
  margin: 5em 0 2em;
  text-align: center;
}

/* line 183, ../scss/style.scss */
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  text-align: center;
}
/* line 191, ../scss/style.scss */
#overlay img {
  padding-top: 40px;
  width: 50%;
}

@-webkit-keyframes logo-animatie {
  /* line 198, ../scss/style.scss */
  0% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 202, ../scss/style.scss */
  50% {
    -webkit-transform: rotate(10deg);
  }

  /* line 206, ../scss/style.scss */
  100% {
    -webkit-transform: rotate(-10deg);
  }
}

@-webkit-keyframes swinging {
  /* line 2, ../scss/modules/_loader.scss */
  0% {
    -webkit-transform: rotate(-45deg);
  }

  /* line 6, ../scss/modules/_loader.scss */
  50% {
    -webkit-transform: rotate(45deg);
  }

  /* line 10, ../scss/modules/_loader.scss */
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

/* line 15, ../scss/modules/_loader.scss */
.pendulum {
  margin-left: -19px;
  margin-top: -18px;
  position: relative;
  background: url("../img/loader.png") no-repeat 0 0;
  background-size: 50%;
  color: #333;
  width: 113px;
  height: 100px;
}

/* line 26, ../scss/modules/_loader.scss */
.pendulum-container {
  padding-top: 0px;
  -webkit-animation: swinging 3s infinite ease-in-out;
  width: 20px;
  margin: 40px auto;
  text-align: center;
  -webkit-transform-origin: top;
}

/* line 1, ../scss/modules/_form.scss */
label {
  display: none;
}

/* line 5, ../scss/modules/_form.scss */
input, textarea {
  -webkit-appearance: none;
  appearance: none;
  background-color: #f4f1e3;
  border: 2px solid #81ccc5;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: .5em;
  padding: 1em 5%;
  width: 100%;
  color: #331f14;
  font-family: 'Bitter';
  font-weight: bold;
  letter-spacing: -0.75px;
}

/* line 21, ../scss/modules/_form.scss */
textarea {
  height: 10em;
}

/* line 25, ../scss/modules/_form.scss */
input[type="submit"] {
  background-color: transparent;
  background-image: url("../img/submit-button.png");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  border: 0;
  float: right;
  height: 27px;
  width: 101px;
}

/* line 35, ../scss/modules/_form.scss */
::-webkit-input-placeholder {
  color: #81ccc5;
  font-family: 'Bitter';
  font-weight: bold;
  letter-spacing: -0.75px;
}

/* line 1, ../scss/modules/_buttons.scss */
.back-button {
  background: url("../img/back-button.png");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  display: block;
  height: 29px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 33px;
}

/* line 10, ../scss/modules/_buttons.scss */
.maps-button {
  background: url("../img/maps-button.png");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  display: block;
  height: 27px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 101px;
}

/* line 1, ../scss/modules/_headings.scss */
.heading {
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

/* line 7, ../scss/modules/_headings.scss */
.heading-hotels {
  background-image: url("../img/heading-hotels.png");
  height: 78px;
  margin: 0 auto;
  width: 123px;
}

/* line 1, ../scss/modules/_icon-grid.scss */
.icon-grid {
  overflow: hidden;
  *zoom: 1;
}

/* line 5, ../scss/modules/_icon-grid.scss */
.grid-item {
  background-color: #81ccc5;
  background-image: url(../img/start_icon_01.png);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  margin-bottom: 1.2em;
  height: 108px;
  width: 108px;
}
/* line 13, ../scss/modules/_icon-grid.scss */
.grid-item:nth-child(odd) {
  float: left;
}
/* line 17, ../scss/modules/_icon-grid.scss */
.grid-item:nth-child(even) {
  float: right;
}
@media screen and (orientation: landscape) {
  /* line 22, ../scss/modules/_icon-grid.scss */
  .grid-item:nth-child(odd), .grid-item:nth-child(even) {
    float: left;
    width: 95px;
    height: 95px;
    margin-right: 10px;
  }
  /* line 29, ../scss/modules/_icon-grid.scss */
  .grid-item:last-child {
    margin-right: 0px !important;
  }
}
@media screen and (max-width: 480px) and (orientation: landscape) {
  /* line 35, ../scss/modules/_icon-grid.scss */
  .grid-item:nth-child(odd), .grid-item:nth-child(even) {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  /* line 42, ../scss/modules/_icon-grid.scss */
  .grid-item:last-child {
    margin-right: 0px !important;
  }
}

/* line 48, ../scss/modules/_icon-grid.scss */
.icon-restaurants {
  background-image: url(../img/start_icon_02.png);
}

/* line 52, ../scss/modules/_icon-grid.scss */
.icon-toilets {
  background-image: url(../img/start_icon_03.png);
}

/* line 56, ../scss/modules/_icon-grid.scss */
.icon-poi {
  background-image: url(../img/start_icon_04.png);
}

/* line 60, ../scss/modules/_icon-grid.scss */
.grid-item a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #f4f1e3;
  display: block;
  font-size: .5em;
  height: 100%;
  letter-spacing: 1px;
  line-height: 1.3;
  padding-top: 9.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* line 75, ../scss/modules/_icon-grid.scss */
.grid-item a.two-line {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  padding-top: 8.5em;
}

/* line 1, ../scss/modules/_sidebar-logic.scss */
#app-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 13, ../scss/modules/_sidebar-logic.scss */
.sidebar {
  position: absolute;
  width: 90px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}
/* line 27, ../scss/modules/_sidebar-logic.scss */
.sidebar ul {
  height: 100%;
  display: block;
}
/* line 32, ../scss/modules/_sidebar-logic.scss */
.sidebar li {
  text-align: center;
  box-sizing: border-box;
  width: 90px;
  height: 34%;
  display: block;
  position: relative;
  border-right: 3px solid #331f14;
  border-bottom: 3px solid #331f14;
}
/* line 42, ../scss/modules/_sidebar-logic.scss */
.sidebar li:last-child {
  border-bottom: 0;
}
/* line 46, ../scss/modules/_sidebar-logic.scss */
.sidebar li a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  height: 100%;
  width: 100%;
}
/* line 56, ../scss/modules/_sidebar-logic.scss */
.sidebar li.spots {
  background: url(../img/red.jpg) repeat;
  background-size: 100%;
}
/* line 60, ../scss/modules/_sidebar-logic.scss */
.sidebar li.spots a {
  background-image: url(../img/icon_01.png);
}
/* line 65, ../scss/modules/_sidebar-logic.scss */
.sidebar li.events {
  background: url(../img/yellow.jpg) repeat;
  background-size: 100%;
}
/* line 69, ../scss/modules/_sidebar-logic.scss */
.sidebar li.events a {
  background-image: url(../img/icon_02.png);
}
/* line 75, ../scss/modules/_sidebar-logic.scss */
.sidebar li.info {
  background: url(../img/blue.jpg) repeat;
  background-size: 100%;
}
/* line 79, ../scss/modules/_sidebar-logic.scss */
.sidebar li.info a {
  background-image: url(../img/icon_03.png);
}
/* line 86, ../scss/modules/_sidebar-logic.scss */
.sidebar #noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999;
  background: url(../img/noise_sidebar.png);
  background-size: 100%;
  line-height: 1;
  pointer-events: none;
}

/* line 100, ../scss/modules/_sidebar-logic.scss */
.app {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #dfded7;
}
/* line 101, ../scss/modules/_sidebar-logic.scss */
.app #global_noise {
  background-image: url(../img/noise.png);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -20px;
  height: 100%;
  pointer-events: none;
}

/* line 1, ../scss/modules/_list-view.scss */
.list-header {
  margin: 0 auto;
  padding: 1em 0 0;
  position: relative;
}
/* line 8, ../scss/modules/_list-view.scss */
.list-header .back-button {
  position: absolute;
  top: 1.5em;
  left: 0;
}

/* line 15, ../scss/modules/_list-view.scss */
.list-header + .container, .list-header + .list-header {
  margin-top: -3px;
}

/* line 19, ../scss/modules/_list-view.scss */
.list-view {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  border: 3px solid #331f14;
  width: 100%;
}
/* line 25, ../scss/modules/_list-view.scss */
.list-view li {
  background: #f4f1e3;
  position: relative;
  text-align: left;
}
/* line 30, ../scss/modules/_list-view.scss */
.list-view li:nth-child(even) {
  background-color: #e4e2d5;
}

/* line 36, ../scss/modules/_list-view.scss */
.list-view-toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #e96452;
  display: block;
  font-family: 'DIN Condensed';
  font-weight: 800;
  line-height: 1;
  padding: 1em 5%;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

/* line 49, ../scss/modules/_list-view.scss */
.list-detail-view {
  padding: .5em 5% 1em;
}
/* line 52, ../scss/modules/_list-view.scss */
.list-detail-view .location {
  margin: 1em 0;
  font-style: italic;
  padding-left: 25px;
  background-image: url("../img/address.png");
  background-size: 19px 18px;
  background-repeat: no-repeat;
  background-position: 0 3px;
  position: relative;
}
/* line 63, ../scss/modules/_list-view.scss */
.list-detail-view .maps-button {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 69, ../scss/modules/_list-view.scss */
.list-detail-view img {
  border: 6px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  max-width: 100%;
}

/* line 77, ../scss/modules/_list-view.scss */
.list-view-annotation {
  background-image: url("../img/annotation.png");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #331f14;
  display: block;
  font-family: 'Bitter';
  font-size: .6em;
  position: absolute;
  text-align: center;
  text-transform: none;
  top: .55rem;
  right: .6rem;
  padding: 1em .8em 0 .8em;
  letter-spacing: 0px;
  height: 29px;
  width: 65px;
}

/* line 96, ../scss/modules/_list-view.scss */
.list-view-annotation-alternate {
  background-image: url("../img/annotation-alternate.png");
}
