@import "compass/reset";
@import "compass";

@import "base/_variables";
@import "base/_fonts";

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: $brown;
    font-family: 'GothamTest';
    font-size: 93.75%;
    font-weight: 600;
    -webkit-text-size-adjust: none;

}

.top {
    background: $blue;
}

.container {
    margin: 63px auto;
    width: 74%;
}

.wide-container {
    width: 91%;
}

.app {
    .red-wood & {
        background-image: url('../img/patterns/red-wood.png');
    }
}

@import "modules/_buttons";
@import "modules/_headings";
@import "modules/_icon-grid";
@import "modules/_sidebar-logic";
@import "modules/_list-view";
