@import "compass/reset";
@import "compass";

@import "base/_variables";
@import "base/_fonts";

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: $brown;
    font-family: 'GothamTest';
    font-size: 93.75%;
    font-weight: 600;
    -webkit-text-size-adjust: none;

}

.top {
    background: url(../img/pattern_header.png);
    @include background-size(30%);
    height: 70px;

    #logo {
        width: 106px;
        margin: 0 auto;
        padding-top: 1em;
        display: block;
    }

}

.zoek {
    width: 85px;
    height: 15px;
    margin: 60px auto 0 auto;
    background: url(../img/anchors.png) no-repeat center center;
    @include background-size(100%);

    p {
        color: $brown;
        font-family: 'DIN Condensed';
        text-transform: uppercase;
        text-align: center;
    }
}

.container {
    margin: 30px auto;
    width: 74%;
}

.wide-container {
    width: 91%;
}

.app {


    .red-wood & {
        background-image: url('../img/patterns/red-wood.png');
    }
}

@import "modules/_buttons";
@import "modules/_headings";
@import "modules/_icon-grid";
@import "modules/_sidebar-logic";
@import "modules/_list-view";
