.back-button {
    @include sprite;
    background-position: -440px -252px;
    display: block;
    height: 32px;
    @include hide-text;
    width: 35px;
}

.maps-button {
    @include sprite;
    background-position: -317px -4px;
    display: block;
    height: 27px;
    @include hide-text;
    width: 101px;
}