.back-button {
    @include sprite;
    background-position: -522px -395px;
    display: block;
    height: 32px;
    @include hide-text;
    width: 35px;
}

.maps-button {
    @include sprite;
    background-position: -374px -5px;
    display: block;
    height: 27px;
    @include hide-text;
    width: 101px;
}