.calendar {
    background-color: $white;
    font-family: 'DIN Condensed';
    margin: 4em 0 0em;
}

.calendar-heading {
    border: 3px solid $brown;
    @include clearfix;
    position: relative;
    height: 24px;
    a {
        display: block;
        height: 26px;
        @include hide-text;
        width: 25px;
        position: absolute;

        &:first-child {
            border-right: 3px solid $brown;
            top: 0px;
            left: 0px;
        }

        &:last-child {
            border-left: 3px solid $brown;
            top: 0px;
            right: 0px;
        }
    }

    h2 {
        display: block;
        margin: 0 auto;
        padding: .3em 0 0;
        text-align: center;
        font-size: .9em;
        width: 40%;
    }
}

.calendar-table {
    border-collapse: collapse;
    border-left: 3px solid $brown;
    border-bottom: 1px solid $brown;
    @include box-sizing(border-box);
    color: $blue;
    width: 100%;

    td {
        border-bottom: 3px solid $brown;
        border-right: 3px solid $brown;
        @include box-sizing(border-box);
        text-align: center;
        padding: .8em 0;
        position: relative;
        width: 14%;
        z-index: 1;

        &.today {
            color: $brown;
        }
    }

    a {
        background-color: $orange;
        @include box-sizing(border-box);
        color: $white;
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: .8em 0;
        text-decoration: none;
        width: 100%;
        z-index: -1;
    }
    td.today a {
        color: $brown;
        font-weight: bolder;
    }
}

#calendar-prev {
    @include sprite;
    background-position: -494px -166px;
}

#calendar-next {
    @include sprite;
    background-position: -494px -190px;
}