#dropdown-container {
    width: 70%;
    left: 50%;
    margin-left: -35%;
    position: absolute;
    top: -60px;
    z-index: 999;
    //display: none;
}

/* List styles */

.list {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    text-transform: uppercase;
    position: absolute;
    width: 100%;
   // display: none;
}

.list a {
    display: block;
    color: #fff;
}

.list a:hover {
    text-indent: 20px;
}

.list dt, .list dd {

    text-indent: 10px;
    line-height: 55px;
    margin: 0;
    height: 55px;
    width: 100%;
    color: #fff;

}

.list dt {
    font-family: 'DIN Condensed';
    font-size: 1.3em;
    letter-spacing: -0.7px;
    font-weight: 800;
    text-transform: uppercase;
    color: $red;
    /* Since we're hiding elements behind here, we need it in 3d */
    -webkit-transform: translateZ(0.3px);
    -moz-transform: translateZ(0.3px);
    -ms-transform: translateZ(0.3px);
    -o-transform: translateZ(0.3px);
    transform: translateZ(0.3px);

    background-image: url('../img/patterns/red-wood.png');
}

.list dd {
    text-transform: none;
    line-height: 35px;
    font-size: 13px;
    height: 35px;
    margin: 0;
    letter-spacing: -0.7px;
}

.maki dt {
    background-image: url('../img/patterns/white-wood.png');
    @include background-size(30%);
}

.maki dd {
    background-image: url('../img/patterns/orange-wood.png');
    @include background-size(30%);

    &.blue {
        background-image: url('../img/patterns/blue-wood.png');
    }
    &.red {
        background-image: url('../img/patterns/red-wood.png');
    }
    &.brown {
        background-image: url('../img/patterns/brown-wood.png');
    }
}

.maki {
    -webkit-transform: perspective(600px) translateZ(1px) !important;
    -moz-transform: perspective(600px) translateZ(1px) !important;
    -ms-transform: perspective(600px) translateZ(1px) !important;
    -o-transform: perspective(600px) translateZ(1px) !important;
    transform: perspective(600px) translateZ(1px) !important;
}