label {
    display: none;
}

input[type="text"], input[type="email"], textarea, select {
    -webkit-appearance: none;
    appearance: none;
    background-color: $white;
    border: 2px solid $blue;
    border-radius: 0;
    @include box-sizing(border-box);
    margin-bottom: .5em;
    padding: 1em 5%;
    width: 100%;
    color: $brown;
    font-family: 'Bitter';
    font-weight: bold;
    letter-spacing: -0.75px;
    &.error {
         border: 2px solid $red; 
    }
}
input:focus, textarea:focus {
    outline: none;
}

textarea {
    height: 10em;
}

input[type="submit"] {
    background-color: transparent;
    background-image: url('../img/submit-button.png');
    @include background-size(100%);
    border: 0;
    float: right;
    height: 27px;
    width: 101px;
    margin-bottom: 30px;
}

input[type="checkbox"], input[type="checkbox"]:checked{
    -webkit-appearance: none;
    display: none;
    background-color: transparent;


}

#map-filter {
    font-family: 'DIN Condensed';
    font-size: 0.85em;
    letter-spacing: -0.7px;
    font-weight: 800;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: $red;
    margin-top: -20px;
    @include clearfix;

    label {
        display: block;
        padding-left: 20px;    
        width: 16px;
        height: 14px;
        background-size: contain; 
        background-repeat: no-repeat;
     
    }
    
    input[type="checkbox"] + label {
        background-image: url('../img/checkbox_unchecked.png');
    }
    input[type="checkbox"]:checked + label {
         background-image: url('../img/checkbox_checked.png');    
    }

    div.small, div.wide {
        box-sizing: border-box;
        background-color: $white;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 5px;
        float: left;
        border-top: 3px solid $red;
        border-left: 3px solid $red;
    }
    .small {
        width: 40%;
    }
    .wide {
        width: 60%;
        border-right: 3px solid $red;
    }

    .hasborder {
         border-bottom: 3px solid $red;
    }
   
}


::-webkit-input-placeholder {
    color: $blue;
    font-family: 'Bitter';
    font-weight: bold;
    letter-spacing: -0.75px;
}

form div {
    position: relative;
}
span.arrow {
    display: block;
    width: 10px;
    height: 16px;
    background-image: url('../img/select.png');
    background-size: 100%;
    position: absolute;
    right: 12px;
    top: 13px;
}