.heading {
    @include sprite;
    display: block;
    @include hide-text;
}

.heading-hotels {
    background-position: -170px -242px;
    height: 78px;
    margin: 0 auto;
    width: 123px;
}
.heading-restaurants {
    background-position: 0 -242px;
    height: 77px;
    margin: 0 auto;
    width: 138px;
}

.heading-bezienswaardigheden {
    background-position: -248px -152px;
    height: 77px;
    margin: 0 auto;
    width: 201px;
}

.heading-wcs {
    background-position: -70px -152px;
    height: 78px;
    margin: 0 auto;
    width: 157px;
}

.static-logo {
    @include sprite;
    background-position: -5px -32px;
    display: block;
    height: 111px;
    padding: 1.2em 0 0 0;
    margin: 0 auto;
    width: 111px;
}