.heading {
    @include background-size(100%);
    display: block;
    @include hide-text;
}

.heading-hotels {
    background-image: url('../img/heading-hotels.png');
    height: 78px;
    margin: 0 auto;
    width: 123px;
}
.heading-restaurants {
    background-image: url('../img/heading-restaurants.png');
    height: 77px;
    margin: 0 auto;
    width: 138px;
}

.heading-bezienswaardigheden {
    background-image: url('../img/heading-bezienswaardigheden.png');
    height: 77px;
    margin: 0 auto;
    width: 201px;
}

.heading-wcs {
    background-image: url('../img/heading-wcs.png');
    height: 78px;
    margin: 0 auto;
    width: 157px;
}