.icon-grid {
    @include clearfix;

    @media screen and (min-width: 330px) and (max-width: 768px) and (orientation:portrait) {
        width: 460px;
        margin: 50px auto;
    }

    @media screen and (min-width: 1024px) and (orientation: landscape) {
        width: 755px;
        margin: 50px auto;
    }
}

.grid-item {
    background-image: url(../img/start_icon_01.png);
    @include background-size(100%);
    margin-bottom: 1.2em;
    height: 108px;
    width: 108px;


    @media screen and (min-width: 330px) and (max-width: 1024px) {
        background-image: url(../img/icon_start_ipad_01.png);
    }

    &:nth-child(odd) {
        float: left;
    }

    &:nth-child(even) {
        float: right;
    }

    @media screen and (orientation:landscape) {
        &:nth-child(odd), &:nth-child(even) {
            float: left;
            width: 95px;
            height: 95px;
            margin-right: 10px;
        }

        &:last-child {
            margin-right: 0px !important;
        }
    }

    @media screen and (max-width: 480px) and (orientation:landscape) {
        &:nth-child(odd), &:nth-child(even) {
            float: left;
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }

        &:last-child {
            margin-right: 0px !important;
        }
    }

    @media screen and (min-width: 330px) and (max-width: 768px) and (orientation:portrait) {
        &:nth-child(odd), &:nth-child(even) {
            float: left;
            width: 220px;
            height: 220px;
        }

        &:nth-child(odd) {
            margin-right: 20px;
        }
    }

    @media screen and (min-width: 1024px) and (orientation: landscape) {
        &:nth-child(odd), &:nth-child(even) {
            float: left;
            width: 181px;
            height: 181px;
        }
    }
}

.icon-restaurants {
    background-image: url(../img/start_icon_02.png);

    @media screen and (min-width: 330px) and (max-width: 1024px) {
        background-image: url(../img/icon_start_ipad_02.png);
    }
}

.icon-toilets {
    background-image: url(../img/start_icon_03.png);

    @media screen and (min-width: 330px) and (max-width: 1024px) {
        background-image: url(../img/icon_start_ipad_03.png);
    }
}

.icon-poi {
    background-image: url(../img/start_icon_04.png);

    @media screen and (min-width: 330px) and (max-width: 1024px) {
        background-image: url(../img/icon_start_ipad_04.png);
    }
}

.grid-item a {
    @include hide-text;
    @include box-sizing(border-box);
    color: $white;
    display: block;
    font-size: .5em;
    height: 100%;
    letter-spacing: 1px;
    line-height: 1.3;
    padding-top: 9.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &.two-line {
        @include hide-text;
        padding-top: 8.5em;
    }
}