.list-header {
    @extend .container;
    @extend .wide-container;
    margin: 0 auto;
    padding: 1em 0 0;
    position: relative;

    .back-button {
        position: absolute;
        top: 1.5em;
        left: 0;
    }
}

.list-header + .container {
    margin-top: -3px;
}

.list-view {
    @include box-sizing(border-box);
    border-radius: 2px;
    border: 3px solid $brown;
    width: 100%;

    li {
        background: $white;
        position: relative;
        text-align: left;

        &:nth-child(even) {
            background-color: $grey;
        }
    }
}

.list-view-toggle {
    @include box-sizing(border-box);
    color: $red;
    display: block;
    font-family: 'DIN Condensed';
    font-weight: 800;
    line-height: 1;
    padding: 1em 5%;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.list-detail-view {
    padding: .5em 5% 1em;

    .location {
        margin: 1em 0;
        font-style: italic;
        padding-left: 25px;
        background-image: url('../img/address.png');
        background-size: 19px 18px;
        background-repeat: no-repeat;
        background-position: 0 3px;
        position: relative;
    }

    .maps-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    img {
        border: 6px solid #fff;
        @include box-sizing(border-box);
        margin-bottom: 1em;
        max-width: 100%;
    }
}

.list-view-annotation {
    background-image: url('../img/annotation.png');
    @include background-size(100%);
    @include box-sizing(border-box);
    color: $brown;
    display: block;
    font-family: 'Bitter';
    font-size: .6em;
    position: absolute;
    text-align: center;
    text-transform: none;
    top: .55rem;
    right: .6rem;
    padding: 1em .8em 0 .8em;
    letter-spacing: 0px;
    height: 29px;
    width: 65px;
}

.list-view-annotation-alternate {
    background-image: url('../img/annotation-alternate.png');
}