.list-header {
    @extend .container;
    @extend .wide-container;
    margin: 0 auto;
    padding: 1em 0 0;
    position: relative;

    .back-button {
        position: absolute;
        top: 1.5em;
        left: 0;
    }
}

.list-header + .container {
    margin-top: -3px;
}

.list-view {
    @include box-sizing(border-box);
    border-radius: 2px;
    border: 3px solid $brown;
    width: 100%;

    li {
        background: $white;
        position: relative;
        text-align: left;

        &:nth-child(even) {
            background-color: $grey;
        }
    }
}

.list-view-toggle {
    @include box-sizing(border-box);
    color: $red;
    display: block;
    font-family: 'DIN Condensed';
    font-weight: 800;
    line-height: 1;
    padding: 1em 5%;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.address {
    width: 52%;
    word-wrap: break-word;
    -webkit-hyphens: auto;
}

.list-view.blue 
.list-view-toggle {
       color: darken($blue, 20); 
}

.list-view.orange 
.list-view-toggle {
       color: $orange;
}

.list-detail-view {
    padding: .5em 5% 1em;
}

.list-view-annotation {
    @include sprite;
    background-position: -572px -396px;
    @include box-sizing(border-box);
    color: $brown;
    display: block;
    font-family: 'Bitter';
    font-size: .6em;
    position: absolute;
    text-align: center;
    text-transform: none;
    top: .55rem;
    right: .6rem;
    padding: 1em .8em 0 .8em;
    letter-spacing: 0px;
    height: 29px;
    width: 65px;
}

.list-view-annotation-alternate {
    background-position: -646px -396px;
}

.list-view .detail-view {
    display: none;
}

.detail-view {
    .location {
        margin: 1em 0;
        font-style: italic;
        padding-left: 25px;
        @include sprite;
        background-position: -607px -363px;
        position: relative;
    }

    .maps-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    img {
        border: 6px solid #fff;
        @include box-sizing(border-box);
        margin-bottom: 1em;
        max-width: 100%;
    }
}

.results {
    background-color: $white;
    border: 3px solid $brown;
    margin: 1em 0;
    padding: .5em 5%;
    position: relative;

    &:before,
    &:after {
        content: " ";
        display: block;
        font-size: 1px;
        background-color: $brown;
        height: 1.2rem;
        width: 3px;
        position: absolute;
        top: -1.3rem;
        left: 20%;
    }
    &.red {
            border: 3px solid $red;
            &:before,
            &:after {
                background-color: $red;
            }
    }

    &:after {
        left: 80%;
    }

    h2 {
        color: $orange;
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }

    .maps-button {
        background-position: -488px -5px;
    }

}