#app-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    width: 90px;
    left: 0px;
    top: 0px;
    bottom: 0px;

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    overflow: hidden; 

    ul {
        height: 100%;
    }

    li {
        text-align: center;
        width: 90px;
        height: 34%;
        display: block;
        position: relative;
        @include transition-property(height);
        @include transition-duration(2s);
        @include transition-timing-function(ease-in);

        img {
            position: absolute;
            top: 50%;
            margin-top: -45px;
            width: 90px;
        }

        &.spots {
            background: url(../img/red.jpg) repeat;
            background-size: 100%;
        }

        &.events {
            background: url(../img/yellow.jpg) repeat;
            background-size: 100%;
        }

        &.info {
            background: url(../img/blue.jpg) repeat;
            background-size: 100%;

        }
    }


    #noise {
        position: absolute;
        top:0; left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 999;
        background: url(../img/noise_sidebar.png);
        background-size: 100%;
        line-height: 1;
    }
}

.app {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    overflow:scroll;
    -webkit-overflow-scrolling: touch;

    background-color: $light-grey;
}
