@-webkit-keyframes swinging {
  /* line 2, ../../scss/modules/loader.scss */
  0% {
    -webkit-transform: rotate(-45deg);
  }

  /* line 6, ../../scss/modules/loader.scss */
  50% {
    -webkit-transform: rotate(45deg);
  }

  /* line 10, ../../scss/modules/loader.scss */
  100% {
    -webkit-transform: rotate(-45deg);
  }
}

/* line 15, ../../scss/modules/loader.scss */
.pendulum {
  margin-left: -19px;
  margin-top: -18px;
  position: relative;
  background: url("loader.png") no-repeat 0 0;
  background-size: 50%;
  color: #333;
  width: 113px;
  height: 100px;
}

/* line 26, ../../scss/modules/loader.scss */
.pendulum-container {
  padding-top: 0px;
  -webkit-animation: swinging 3s infinite ease-in-out;
  width: 20px;
  -webkit-transform-origin: top;
}
